.text-white {
    -fx-text-fill: white;
}

.primBG {
    -fx-background-color: #212229
}

.coolBTN {
    -fx-background-color: #212229;
    -fx-padding: 4px;

    /* Top, Right, Bottom, Left */
    -fx-border-width: 0 0 0 3px;
    -fx-border-color: #212229;
    -fx-border-style: solid;
}

.loginBG {
    -fx-background-image: url("loginBG.jpg");
    -fx-background-image: cover;
    -fx-background-repeat: none;
    -fx-background-position: center;
}

.backgroundEffect {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.coolBTN:hover{
    /* Top, Right, Bottom, Left */
    -fx-border-width: 0 0 0 3px;
    -fx-border-color: #e70000;
    -fx-border-style: solid;
}